body {
    background: url("IMG/bg.jpg") no-repeat center top;
}
.bannerTop {
  background-color: #c10051;
}
.jumbotron {
   background: rgb(175, 175, 175); /* This is for ie8 and below */
   background: rgba(175, 175, 175, 0.9);
}

background-image: linear-gradient(
    to bottom,
    rgba(64, 64, 64, 1) 0%,
    rgba(64, 64, 64, 0) 10%,
    rgba(64, 64, 64, 0) 90%,
    rgba(64, 64, 64, 1) 100%
);
